* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#header {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  height: 100px;
  width: 100%;
}
#left-side-header {
  display: flex;
  align-items: center;
}
#left-side-header img {
  width: 30px;
  height: 30px;
  padding-left: 38px;
}
#left-side-header p {
  cursor: pointer;
}

#right-side-header {
  display: flex;
  align-items: center;
}
#right-side-header img {
  width: 28px;
  height: 28px;
  padding: 38px 38px 38px 0;
}
#navBar {
  display: flex;
}
.navBar-items {
  padding: 20px;
}
#img {
  width: 300px;
  height: 300px;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  min-width: 280px;
  max-width: 270px;
  max-height: 500px;
  display: grid;
  margin: 50px 30px 50px 30px;
  border: 2px solid rgba(128, 128, 128, 0.2);
  text-align: center;
}
.productTitleElement {
  font-size: 15px;
  padding: 10px;
}
.productImageElement {
  padding: 30px;
  text-align: center;
  width: 200px;
  height: 220px;
}
.productPriceElement {
  text-align: left;
  margin: 15px 0 15px 15px;
}
.productBtnBuyElement {
  width: 170px;
  height: 50px;
  margin: 15px 10px 10px 50px;
  justify-content: center;
}
